.ui-app-nav {
  scrollbar-width: thin;

  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1px;

  min-block-size: 0;
  padding-block-end: 8px;
  padding-inline: 4px;
}

.ui-app-nav-item {
  display: flex;
  flex: none;
  gap: 8px;
  align-items: center;

  block-size: 36px;
  padding-inline: 4px;
  border-radius: var(--radius-md);

  color: var(--color-fg-secondary);
  text-decoration: none;

  transition:
    background var(--duration-fast) var(--ease-out),
    color var(--duration-fast) var(--ease-out);

  @apply focus-ring;

  &:hover {
    background: var(--color-fill-tertiary);
  }

  &[data-active="true"] {
    color: var(--color-fg);
    background: var(--color-fill-tertiary);

    &:hover {
      background: var(--color-fill-secondary);
    }

    .ui-app-nav-item-icon {
      color: var(--color-fg);
    }
  }

  @variant max-mobile {
    block-size: var(--size-touch);
  }
}

.ui-app-nav-item-icon {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;

  inline-size: 28px;
  block-size: 28px;

  color: var(--color-fg-tertiary);
}

.ui-app-nav-item-label {
  overflow: hidden;
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}
