.ui-descriptions {
  display: grid;
  grid-template-columns: 112px minmax(0, 1fr);
  column-gap: 12px;
  align-items: baseline;
  margin: 0;
  line-height: 20px;

  & > dt,
  & > dd {
    min-block-size: 30px;
    padding-block: 5px;
  }
}

.ui-descriptions-justified {
  grid-template-columns: minmax(0, 1fr) auto;

  & > dd {
    font-family: var(--font-mono);
    text-align: end;
  }
}

.ui-descriptions-label {
  overflow: hidden;
  font-size: var(--text-xs);
  color: var(--color-fg-tertiary);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ui-descriptions-value {
  min-width: 0;
  margin: 0;
  font-size: var(--text-sm);
  color: var(--color-fg);
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}
