.ui-icon {
  display: inline-flex;
  align-items: center;
  color: inherit;
  line-height: 0;
  vertical-align: -0.125em;

  > * {
    line-height: 1;
  }

  svg {
    display: inline-block;
    vertical-align: inherit;
  }
}

.ui-icon-spin {
  animation: var(--animate-spin);
}
