.ui-page-header {
  display: flex;
  flex-direction: column;
  gap: 4px;

  inline-size: 100%;
  min-inline-size: 0;
}

.ui-page-header-heading {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  align-items: center;
}

.ui-page-header-title {
  margin: 0;
  font-size: var(--text-2xl);
  font-weight: 600;
  line-height: var(--text-2xl--line-height);
}

.ui-page-header-description {
  max-inline-size: 68ch;
  color: var(--color-fg-secondary);
}

.ui-page-header-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  margin: 0;
  margin-block-start: 8px;
  padding: 0;

  list-style: none;
}

.ui-page-header-meta-item {
  display: inline-flex;
  gap: 4px;
  align-items: center;

  block-size: 22px;
  padding-inline: 8px;
  border-radius: var(--radius-xs);

  font-size: var(--text-xs);
  line-height: 1.2;
  color: var(--color-fg-secondary);

  background: var(--color-fill-tertiary);
}
