.ui-panel {
  display: flex;
  flex-direction: column;

  min-inline-size: 0;
  border: 1px solid var(--color-border-secondary);
  border-radius: var(--radius-lg);

  background: var(--color-container);
}

.ui-panel-header {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;

  min-block-size: 45px;
  padding-block: 12px;
  padding-inline: 20px;
  border-block-end: 1px solid var(--color-border-secondary);
}

.ui-panel-title {
  margin: 0;
  font-size: var(--text-xs);
  font-weight: 500;
  line-height: var(--text-xs--line-height);
  color: var(--color-fg-secondary);
}

.ui-panel-extra {
  display: flex;
  flex: none;
  gap: 8px;
  align-items: center;
}

.ui-panel-body {
  --surface-gutter: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  min-inline-size: 0;
  padding: 20px;
}
